PORT=3000
DB_HOST=127.0.0.1
DB_PORT=5432
DB_USER=taller3_ecommerce_app
DB_PASSWORD=REEMPLAZA_CON_TU_CONTRASENA_LOCAL
DB_NAME=taller3_ecommerce_db
JWT_SECRET=REEMPLAZA_CON_UN_SECRETO_ALEATORIO
JWT_EXPIRES_IN=1d
CORS_ORIGIN=http://localhost:5173
